/* This is somewhat thrown together - feel free to refactor

  main.scss contains all global styling
  #bsor - BootStrap OverRide
*/
body {
  padding-top: 100px;
  /* #bsor = BootStrap OverRide */ }
  body#bsor {
    /* GLOBAL BOOTSTRAP OVERRIDES - STAYS DOWN HERE... */
    /* END GLOBAL OVERRIDES */ }
    body#bsor .btn-file {
      position: relative;
      overflow: hidden; }
    body#bsor .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block; }
    body#bsor .well-ff {
      background: white; }
    body#bsor .wrapper {
      width: 100%;
      padding: 0 20px; }
    body#bsor .container {
      width: auto;
      margin: 0;
      padding: 0; }
    body#bsor .row {
      margin: 0; }
    body#bsor .no-gutter {
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0; }
    body#bsor .no-gutter > [class*='col-'] {
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0; }
    body#bsor form label {
      font-weight: bold;
      font-size: .8em;
      display: block;
      padding-top: 10px;
      margin: 0; }
    body#bsor form input {
      margin-bottom: 5px; }
    body#bsor form .button, body#bsor form button, body#bsor form input[type=submit] {
      background-repeat: repeat-x;
      background-color: #5cb85c;
      background-image: none;
      border-color: #3e8f3e;
      color: #fff;
      border-radius: 4px; }
    body#bsor h2 {
      font-size: 1.5em;
      font-weight: bold; }
    body#bsor .scarf-entry {
      border-bottom: 1px solid #999;
      padding-bottom: 20px; }
    body#bsor .top-buffer {
      margin-top: 20px; }
    body#bsor .bottom-buffer {
      margin-bottom: 20px; }

/* DESKTOP */
@media (min-width: 768px) {
  body#bsor {
    padding-top: 100px; }
    body#bsor #navbar {
      position: relative;
      z-index: 1000; }
    body#bsor .secondary-nav {
      vertical-align: middle; }
      body#bsor .secondary-nav a, body#bsor .secondary-nav .login {
        cursor: pointer;
        color: #00802b; }
      body#bsor .secondary-nav .login-signup {
        display: block;
        color: #993;
        width: 240px;
        padding: 15px 0; }
    body#bsor .login-container {
      display: none;
      position: absolute;
      top: 55px;
      width: 240px;
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #000; }
      body#bsor .login-container .forgotpw {
        font-size: 12px;
        padding: 8px; }
      body#bsor .login-container .close {
        margin-top: 5px; }
      body#bsor .login-container .form-group {
        width: 100%; }
        body#bsor .login-container .form-group input {
          width: 100%; } }
/* MOBILE */
@media (max-width: 767px) {
  body#bsor {
    padding-top: 50px;
    /* NAV */
    /* END NAV */ }
    body#bsor .navbar-collapse {
      padding: 20px; }
      body#bsor .navbar-collapse li.button {
        background-color: #3c503c; }
    body#bsor .main-nav li {
      display: inline-block;
      margin-left: 15px; }
    body#bsor .secondary-nav li {
      display: inline-block; }
      body#bsor .secondary-nav li.item-search {
        margin: 0;
        padding: 20px 0;
        display: block;
        border-top: 1px solid #616161; }
      body#bsor .secondary-nav li .login-container {
        display: block; }
      body#bsor .secondary-nav li .forgotpw {
        color: #9d9d9d;
        padding-left: 10px; }
      body#bsor .secondary-nav li .close {
        display: none; }
    body#bsor .navbar-form {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      margin: 0;
      padding: 0; }
    body#bsor img.scarf {
      max-width: 500px;
      max-height: 200px;
      width: 100%; } }
/* END MOBILE */
.scarf-entry .scarf {
  display: block;
  max-width: 640px;
  overflow: hidden; }
  .scarf-entry .scarf img {
    width: 100%;
    height: auto; }
.scarf-entry .trade-status {
  width: 20px;
  height: 20px;
  background-image: url("images/tradeicons.png"); }
  .scarf-entry .trade-status.notinlist {
    background-position: 0 0; }
  .scarf-entry .trade-status.notinlist:hover:after {
    content: "Not In List";
    width: 100px;
    display: block;
    position: relative;
    bottom: 30px;
    border: 1px solid #333;
    padding: 5px;
    background-color: #fff;
    opacity: .7; }
  .scarf-entry .trade-status.have {
    background-position: 0 -20px; }
  .scarf-entry .trade-status.have:hover:after {
    content: "Owned";
    width: 100px;
    display: block;
    position: relative;
    bottom: 30px;
    border: 1px solid #333;
    padding: 5px;
    background-color: #fff;
    opacity: .7; }
  .scarf-entry .trade-status.trade {
    background-position: 0 -40px; }
  .scarf-entry .trade-status.trade:hover:after {
    content: "Will Trade";
    width: 100px;
    display: block;
    position: relative;
    bottom: 30px;
    border: 1px solid #333;
    padding: 5px;
    background-color: #fff;
    opacity: .7; }
  .scarf-entry .trade-status.want {
    background-position: 0 -60px; }
  .scarf-entry .trade-status.want:hover:after {
    content: "Want";
    width: 100px;
    display: block;
    position: relative;
    bottom: 30px;
    border: 1px solid #333;
    padding: 5px;
    background-color: #fff;
    opacity: .7; }
