body,
html {
  /* WE NEED FONTS ... */
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background: #ffffff; }
  body ul,
  html ul {
    margin: 0;
    padding: 0; }
    body ul li,
    html ul li {
      list-style: none;
      margin: 0;
      padding: 0; }
  body dl,
  html dl {
    display: inline-block;
    margin: 0; }
  body dt,
  html dt {
    vertical-align: top;
    color: #900;
    font-weight: bold; }
  body dt,
  body dd,
  html dt, html dd {
    display: block;
    margin: 0;
    word-break: break-word;
    vertical-align: top;
    margin-right: 1%; }
  body dd.value,
  html dd.value {
    width: auto; }
  body a,
  html a {
    color: #75A3FF;
    text-decoration: none; }
  body h1,
  html h1 {
    font-weight: bold;
    font-size: 2em;
    margin: .2em 0; }

header {
  width: 100%;
  height: 100px;
  background-color: #96C09E;
  /* WE NEED A LOGO */ }
  header .logo {
    display: inline-block;
    margin: 10px;
    vertical-align: middle; }
  header #nav {
    display: inline-block;
    width: 40%;
    color: #fff;
    vertical-align: middle;
    /* NAV LINKS - use jeet or stylus to create the columns. will allow for better responsive control */ }
    header #nav li {
      display: inline-block;
      margin-right: 5%; }

.wrapper {
  width: 90%;
  margin: 10px auto; }

article label {
  /* include red meta tag font */
  display: inline-block;
  margin-right: 1%;
  vertical-align: top;
  color: #900;
  font-weight: bold; }

article .meta {
  color: #900; }

article .tag {
  color: #00f; }

article .color-tag {
  color: #090; }

article .value {
  display: inline-block;
  word-break: break-word; }

article .row {
  clear: both; }

article .col {
  display: inline-block;
  margin-right: 1%; }

article.scarf-entry {
  /* GLOSSARY */
  /* PRODUCT INFO PANEL */ }
  article.scarf-entry .scarfImg {
    width: auto;
    margin: 10px auto;
    text-align: center; }
    article.scarf-entry .scarfImg img {
      width: 100%;
      height: auto; }
  article.scarf-entry .tag-heirarchy {
    margin: 10px auto; }
    article.scarf-entry .tag-heirarchy .value {
      font-weight: bold;
      font-size: 12px; }
  article.scarf-entry .col1 {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    margin-right: 10px; }
  article.scarf-entry .col2 {
    vertical-align: top;
    display: inline-block;
    width: 30%; }
  article.scarf-entry .glossary {
    width: auto; }
    article.scarf-entry .glossary .entry {
      clear: both;
      display: block;
      margin: 10px 0; }
    article.scarf-entry .glossary dd {
      display: inline-block; }
      article.scarf-entry .glossary dd.value .description {
        float: left;
        max-width: 520px;
        display: inline-block;
        margin-right: 20px; }
    article.scarf-entry .glossary dl.related-tags {
      display: inline-block;
      float: right;
      width: 320px; }
  article.scarf-entry .product-info-panel {
    padding: 10px;
    background-color: #eee;
    width: 100%; }
    article.scarf-entry .product-info-panel dt {
      min-width: 140px; }
    article.scarf-entry .product-info-panel dd {
      max-width: 235px; }
  article.scarf-entry table {
    margin: 10px auto;
    width: 100%; }

#footer {
  width: 100%; }

#flashes {
  clear: both;
  padding: 5px 6px; }

#login {
  position: absolute;
  right: 0;
  width: 200px;
  margin-right: 20px; }

#itemactions {
  position: absolute;
  right: 0;
  width: 200px;
  margin-right: 20px; }

#signupform {
  margin-left: auto;
  margin-right: auto;
  width: 700; }

form {
  border-radius: 5px;
  overflow: hidden; }

.newuser-label {
  display: block;
  font-weight: bold; }

.login-label {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  font-weight: bold; }

input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #636466;
  padding: 6px; }

.form-group {
  margin-top: 20px;
  margin-bottom: 20px; }

.login-form-group {
  margin-top: 10px;
  margin-bottom: 0px; }

.login-form-input {
  width: 150px; }

.button {
  border: 0;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
  background: linear-gradient(#cccccc, #dddddd); }

.small {
  font-size: 70%; }
