{% extends "layout.html" %}

{% block body %}



<div class="row">
<div class="page-header"><h4>Deployment Status</h4></div>

<p>
{% if pd.deployment %}
<table class="table table-condensed">
<tr><td>Deployment date</td><td>{{ pd.deployment.date }}</td></tr>
<tr><td>Deployed by</td><td>{{ pd.deployment.user }}</td></tr>
<tr><td>Commit</td><td><a href="https://github.com/cmazuc/scarfage/tree/{{ pd.deployment.branch }}">{{ pd.deployment.branch }}</a> / <a href="https://github.com/cmazuc/scarfage/commit/{{ pd.deployment.commit }}">{{ pd.deployment.commit|truncate(10, True, '') }}</a></td></tr>
</table>
{% else %}
<p>Dev<p><br />
{% endif %}
<a href="https://siteadmin.scarfage.com/">Admin Site</a><br/>
</p>

<div class="page-header"><h4>Site config</h4></div>
<table class="table table-condensed">
<tr><th>Name</th><th>Value</th></tr>
<tr><td>Database Host</td><td>{{pd.sf_conf.DBHOST}}</td></tr>
<tr><td>Database Name</td><td>{{pd.sf_conf.DBNAME}}</td></tr>
<tr><td>Database User</td><td>{{pd.sf_conf.DBUSER}}</td></tr>
<tr><td>Deployment Metadata</td><td>{{pd.sf_conf.DEPFILE}}</td></tr>
<tr><td>URL Prefix</td><td>{{pd.sf_conf.PREFIX}}</td></tr>
</table>

<div class="page-header"><h4>Site users</h4></div>
<table class="table table-condensed">
<tr>
<th>Username</td>
<th>e-mail</td>
<th>Joined</td>
<th>Last Seen</td>
<th>User Type</td>
<th>Actions</td>
</tr>
{% for user in pd.users %}
    <tr>
    <td><a href="/user/{{ user.username }}">{{ user.username }}</a></td>
    <td>{{ user.email }}</td>
    <td>{{ user.joined }}</td>
    <td>{{ user.lastseen }}</td>
    <td>{{ pd.accesslevels[user.accesslevel] }}</td>
    <td> 
    <a href="/admin/users/{{ user.username }}/resetpw">pw reset</a>
    {% if user.uid != pd.authuser.uid %}
    {% if user.accesslevel == 0 %}
    <a href="/admin/users/{{ user.username }}/accesslevel/1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    {% else %}

        <a href="/admin/users/{{ user.username }}/accesslevel/0"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></a>

        {% if user.accesslevel < 10 %}
        <a href="/admin/users/{{ user.username }}/accesslevel/10"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
        {% endif %}

        {% if user.accesslevel == 10 %}
        <a href="/admin/users/{{ user.username }}/accesslevel/1"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
        <a href="/admin/users/{{ user.username }}/accesslevel/255"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span></a>
        {% endif %}

        {% if user.accesslevel == 255 %}
        <a href="/admin/users/{{ user.username }}/accesslevel/1"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
        {% endif %}

    {% endif %}
    </td>
    </tr>

    {% endif %}
    
    </li>
{% endfor %}
</table>

</div>

{% endblock %}
