{% extends "layout.html" %}

{% block body %}

{% include "login.html" %}

<div id="content">

<ul id="userlist">
<li>username - email - joined - lastseen - # items added - User type</li>
{% for user in pd.users %}
    <li><a href="/user/{{ user.username }}">{{ user.username }}</a> - {{ pd.accesslevels[user.accesslevel] }} - {{ user.joined }} - {{ user.lastseen }}  - {{ user.numadds }} </a>
    
    {% if user.uid == pd.authuser.uid %}
    - you
    {% else %}

    {% if user.accesslevel == 0 %}
    - <a href="/admin/users/{{ user.username }}/accesslevel/1">Unban</a>
    {% else %}

        - <a href="/admin/users/{{ user.username }}/accesslevel/0">Ban</a>

        {% if user.accesslevel < 10 %}
        - <a href="/admin/users/{{ user.username }}/accesslevel/10">Promote to moderator</a>
        {% endif %}

        {% if user.accesslevel == 10 %}
        - <a href="/admin/users/{{ user.username }}/accesslevel/1">Demote</a>
        - <a href="/admin/users/{{ user.username }}/accesslevel/255">Promote to admin</a>
        {% endif %}

        {% if user.accesslevel == 255 %}
        - <a href="/admin/users/{{ user.username }}/accesslevel/1">Demote</a>
        {% endif %}

    {% endif %}

    {% endif %}
    
    </li>
{% endfor %}
</ul><br />

</div>

{% endblock %}
