{% extends "layout.html" %}

{% block body %}



{% if pd.item %}
{% endif %}


<div class="container">
    <div class="col-md-8">
        <div class="page-header"><h3>{% if pd.item %}Editing: "{{ pd.item_name }}" <small><a href="/item/{{ pd.item.name }}/history">History</a></small>{% else %}Editing: "{{pd.item_name}}" (new item){% endif %} </h3></div>
        <form action="/item/{{ pd.item_name }}/edit" method="post" enctype="multipart/form-data">
            <div class="page-header"><h4>Description</h4></div>
            <textarea name=desc cols="50" rows="2" value="{% if pd.item %}{{ pd.item.description }}{% endif %}" placeholder="Stuff about your item here"></textarea><br />

            <div class="page-header"><h4>Tags</h4></div>
            <input type=text name=tags placeholder="Add more tags"><br />
    </div>

    <div class="col-md-3">
            <button class="btn btn-sm btn-default" type=submit>Save</button>
            {% if pd.item %}
            <a class="btn btn-sm btn-primary" href="/item/{{ pd.item.name }}">Cancel</a>
            {% endif %}
        </form>
    </div>
       
</div>

{% endblock %}
