{% extends "layout.html" %}

{% block body %}



<p>Scarfage supports <a href="https://daringfireball.net/projects/markdown/syntax">markdown</a>, specifically Python Markdown with the following extensions:</p>

* <a href="https://pythonhosted.org/Markdown/extensions/extra.html">Extra</a><br />
* <a href="https://pythonhosted.org/Markdown/extensions/admonition.html">Admonition</a><br />
* <a href="https://pythonhosted.org/Markdown/extensions/wikilinks.html">WikiLinks</a><br />
* <a href="https://pythonhosted.org/Markdown/extensions/sane_lists.html">Sane Lists</a><br />
<br />
And possibly in the future:<br />
* <a href="https://pythonhosted.org/Markdown/extensions/toc.html">Table of Contents</a><br />
* <a href="https://pythonhosted.org/Markdown/extensions/meta_data.html">Meta-Data</a><br />

<p>
todo: write scarfage specific instructions that won't suck for new users
</p>

{% endblock %}
