{% extends "layout.html" %}
{% block body %}

<center>
<p><h1>{{ pd.errorcode }} {{ pd.errortext }}</h1></p>
<p>Something bad happened. To file a bug report please create an <a href="https://github.com/cmazuc/scarfage/issues/new">issue</a> on GitHub or <a href="mailto:admin@scarfage.com?subject=bug%20report&body=What%20is%20your%20username%0A%0AWhat%20was%20the%20URL%20that%20gave%20you%20this%20error%0A%0AErrorcode:%20{{ pd.errorcode }}%20{{ pd.errortext }}%0A">email</a> an admin.</p>
<p><img class="img-rounded" src="{{pd.prefix}}/static/error.jpg" alt="[ Marcelo Own Goal ]"></p>
</center>

{% endblock %}
