{% extends "layout.html" %}

{% block body %}



<div id="content">
<h1> {{ pd.img.tag }}</h1>
{% if pd.authuser is defined and pd.authuser.accesslevel >= 10 %}
<p><a class="btn btn-danger" href="/image/{{ pd.img.uid }}/delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a></p>
{% endif %} <br/>

<a href="/image/{{ pd.img.uid }}/full"><img style="max-width:100%;" src="{{pd.prefix}}/resize/800x800/{{ pd.img.uid }}" alt="{{ pd.img.tag }}"></a><br />
<a class=small href="/image/{{ pd.img.uid }}/flag" rel="nofollow">Report image to a moderator for deletion</a><br />

</div>

</div>

{% endblock %}
