{% extends "layout.html" %}

{% block body %}

<!--
<div class="jumbotron">
    <div class="container">
    Be excellent to each other.
    </div>
</div>
-->

<div class="container">
  <div class="row no-gutter">
    <div class="col-md-12">
    {{ pd.render_markdown_safe(pd.welcomebanner)|safe }}
    </div>
  </div>
  <div class="row no-gutter">
    <div class="col-md-12">

        <h4>Latest Items</h4>

        {% for item in pd.items %}
          <div class="row bottom-buffer scarf-entry no-gutter">
             <h2><a href="/item/{{ item.uid }}">{{ item.name }}</a>
                {% if pd.authuser is defined %}
                {% include 'itemstatusbox.html' %}
                {% endif %}
             </h2>
             <label>{{ pd.localtime(item.added).strftime('%b %d, %Y @ %I:%M %p') }}</label><br>

             {% for image in item.images()[:1] %}
                 <a href="/item/{{ item.uid }}" ><img style="max-width: 100%;" class="img-rounded col-md-12 no-gutter" src="{{pd.prefix}}/resize/1900x400/{{ image.uid }}" alt="{{ image.tag }}"></a>
                <a class=small href="/image/{{ image.uid }}/flag" rel="nofollow"><span data-toggle="tooltip" title="Flag for moderator review" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: red;"></span></a><br />
             {% endfor %}

             {% if pd.authuser is defined %}
              <div class="trade-status notinlist"></div>
             {% endif %}

         </div>


        {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
