{% extends "layout.html" %}

{% block body %}


<div class="container">

<div class="col-md-8">

{% if pd.item %}
<div class="page-header"> <h3>{{ pd.item.name }} {% if pd.authuser is defined and pd.authuser.accesslevel >= 10 %}({{ pd.item.uid }}){% endif %}

{% if pd.authuser is defined %}
{% set item = pd.item %}
{% include 'itemstatusbox.html' %}
{% endif %}

<a href="/item/{{ pd.item.uid }}/edit"> <span data-toggle="tooltip" title="Edit" style="color: blue;" class="glyphicon glyphicon-pencil"></span></a>
<a href="/item/{{ pd.item.uid }}/history"> <span data-toggle="tooltip" title="View History" style="color: blue;" class="glyphicon glyphicon-time"></span></a>

{% if pd.item.edit and not pd.item.edit == pd.item.description() %}
<a href="/item/{{ pd.item.uid }}/revert/{{ pd.item.description() }}"> <span data-toggle="tooltip" title="Revert to this" style="color: blue;" class="glyphicon glyphicon-repeat"></span></a>
{% endif %}

{% if pd.authuser is defined and pd.authuser.accesslevel == 255 %}
<a href="/item/{{ pd.item.uid }}/delete"> <span data-toggle="tooltip" title="Delete" style="color: orange;" class="glyphicon glyphicon-trash"></span></a>
{% endif %}


</h3>

{% if pd.item.edit and not pd.item.edit == pd.item.description() %}
<div class="alert alert-warning" role="alert">
You are viewing an old version of this item's description, click <a href="/item/{{ pd.item.uid }}" class="alert-link">here</a> for the latest version. 
</div>
{% endif %}

{% endif %}
</div>

<div id="description">
{{ pd.render_markdown(pd.item.body(pd.item.edit))|safe }}
</div>

{% for image in pd.item.images() %}
<p>
<a href="/image/{{ image.uid }}"><img style="max-height:100px; max-width:500px;" class="img-rounded" src="{{pd.prefix}}/resize/500x200/{{ image.uid }}" alt="{{ image.tag }}"><br /> </a>
</p>
{% endfor %}

<div class="col-md-3">
    <div class="page-header"><h4>Image upload</h4></div>
    <form action="/newimg" method="post" enctype="multipart/form-data">
        <input type=text name=title placeholder="Image title" size="50"><br /> 
        <input type=text name=desc placeholder="Image description" size="50"></input><br />
        <input class="btn btn-sm btn-file" type="file" name="img" accept="image/*">
        <input type="hidden" name="parent" value="{{ pd.item.uid }}">
        <button type=submit class="btn btn-sm btn-default"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</button>
    </form>
</div>

</div>

<div class="col-md-3">

<div class="page-header"><h4>Users with this item:</h4></div>
{% if pd.item.haveusers()[1] | length == 0 %}
Nobody has this item in their public collection yet.
{% endif %}

{% for user in pd.item.haveusers()[1] %}
<a href="/user/{{ user.username }}">{{ user.username }}</a>
{% if user in pd.item.willtradeusers()[1] %}
<span data-toggle="tooltip" title="This user is willing to trade this item" class="glyphicon glyphicon-transfer"></span>
{% endif %}</br>
{% endfor %}

<div class="page-header"><h4>Users that want this item:</h4></div>
{% if pd.item.wantusers()[0] == 0 %}
Nobody wants this item yet.
{% endif %}

{% for user in pd.item.wantusers()[1] %}
<a href="/user/{{ user.username }}/trade/{{ pd.item.uid }}" rel="nofollow">{{ user.username }}</a><br />
{% endfor %}

<div class="page-header"><h4>Tags</h4></div>
{% set parent_tags = pd.item.tags_with_parents() %}
{%for tag in parent_tags %}
<a href="/tag/{{ pd.encode(tag) }}">{{ tag }}</a>
{% if not parent_tags[tag] %}
<a href="/item/{{ pd.item.uid }}/untag/{{ pd.encode(tag) }}" rel="nofollow"><span data-toggle="tooltip" class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;" title="Remove Tag"></span></a>
{% else %}
<small><span data-toggle="tooltip" class="glyphicon glyphicon-lock" aria-hidden="true" style="color: grey;" title="Locked (inherited from {% set count = 0 %}{% set lastcount = 0 %}{% for child in pd.item.tree.exact_children_of(tag) %}{% if child in parent_tags %}{% if count > lastcount %}, {% endif %}{% set lastcount = count %}'{{ child }}'{% set count = count + 1 %}{% endif %}{% endfor %})"></span></small>
{% endif %}
<br>
{% endfor %}
<form action="/item/tag" method="post" enctype="multipart/form-data">
    <input type=text name=tag placeholder="Add a tag">
    <input type=hidden name=uid value={% if pd.item %}{{ pd.item.uid }}{%else%}0{%endif%}> <button class="btn btn-sm btn-default" type=submit>Save</button>
</form><br><br>

<a class="copy-url"><span class="glyphicon glyphicon-link"></span> Copy to clipboard</a> 

</div>
</div>

</div>

{% endblock %}
