{% extends "layout.html" %}

{% block body %}



<div id="content">

<div id="itemname">
<h1>{{ pd.item.name }}</h1>
</div>

<div id="itemactions">

<a href="/item/{{ pd.item.uid }}">Go back</a><br />

{% if pd.authuser is defined and pd.authuser.accesslevel == 255 %}
<a href="/item/{{ pd.item.uid }}/delete">Delete item</a><br />
{% endif %}

</div>

<table>
<tr>
<th>Date</th>
<th>User</th>
<th></th>
<th></th>
</tr>
{% for ent in pd.item.history() %}
<tr>
<td>{{ ent.date }}</td>
<td>
{% if not ent.user %}
Anonymous ({{ ent.ip }})
{% else %}
<a href="/user/{{ ent.user }}">{{ ent.user }}</a>
{% endif %}
</td>
<td><a href="/item/{{ pd.item.uid }}/revert/{{ ent.uid }}">Revert to this</a></td>
<td><a href="/item/{{ pd.item.uid }}/history/{{ ent.uid }}">View</a></td>
</tr>
{% endfor %}
</table>

</div>

{% endblock %}
