{% extends "layout.html" %}

{% block body %}



<div id="content">

<div id="page-header">
<h3>{{ pd.item.name }}</h3>

<a class="btn btn-sm btn-default" href="/item/{{ pd.item.uid }}">Cancel</a>

{% if pd.authuser is defined and pd.authuser.accesslevel == 255 %}
<a class="btn btn-sm btn-danger" href="/item/{{ pd.item.uid }}/delete">Delete item</a><br>
{% endif %}
</div>
</div>

<table class="table table-condensed">
<tr>
<th>Date</th>
<th>User</th>
<th></th>
<th></th>
</tr>
{% for ent in pd.item.history() %}
<tr>
<td>{{ ent.date }}</td>
<td>
{% if not ent.user %}
Anonymous ({{ ent.ip }})
{% else %}
<a href="/user/{{ ent.user }}">{{ ent.user }}</a>
{% endif %}
</td>
<td><a class="btn btn-sm btn-default" href="/item/{{ pd.item.uid }}/revert/{{ ent.uid }}">Revert to this</a></td>
<td><a class="btn btn-sm btn-default" href="/item/{{ pd.item.uid }}/history/{{ ent.uid }}">View</a></td>
</tr>
{% endfor %}
</table>

</div>

{% endblock %}
