{% extends "layout.html" %}

{% block body %}


<div class="container">

<div class="col-md-8">

{% if pd.item %}
<div class="page-header"> <h3>{{ pd.item.name }}

<small><a href="/item/{{ pd.item.uid }}/edit"> Edit </a></small>
<small><a href="/item/{{ pd.item.uid }}/history"> History </a></small>

{% if pd.item.old %}
<small><a href="/item/{{ pd.item.uid }}/revert/{{ pd.item.editid }}"> Revert </a></small>
{% endif %}

{% if pd.authuser is defined and pd.authuser.accesslevel == 255 %}
<small><a href="/item/{{ pd.item.uid }}/delete"> Delete </a></small>
{% endif %}
{% endif %}
</h3>

</div>

{% if pd.item.old %}
<div id="warning">
You are viewing a historical version of this item's description, click <a href="/item/{{ pd.item.uid }}">here</a> for the latest version. 
</div>
{% endif %}

<div id="description">
{{ pd.item.description_html|safe }}
</div>

{% for image in pd.item.images() %}
<p>
<a href="/image/{{ image.uid }}"><img style="max-height:100px; max-width:500px;" class="img-rounded" src="{{pd.prefix}}/image/{{ image.uid }}/thumbnail" alt="{{ image.tag }}"><br /> </a>
</p>
{% endfor %}

<div class="col-md-3">
    <div class="page-header"><h4>Image upload</h4></div>
    <form action="/newimg" method="post" enctype="multipart/form-data">
        <input type=text name=title placeholder="Image title" size="50"><br /> 
        <input type=text name=desc placeholder="Image description" size="50"></input><br />
        <input class="btn btn-sm btn-file" type="file" name="img" accept="image/*">
        <input type="hidden" name="parent" value="{{ pd.item.uid }}">
        <button type=submit class="btn btn-sm btn-default"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</button>
    </form>
</div>

</div>

<div class="col-md-3">

<div class="page-header"><h3>Item actions</h3></div>
{% if pd.authuser is defined %}
    {% if pd.iteminfo is defined and pd.iteminfo.have == 0 %}
        <a href="/item/{{ pd.item.uid }}/have">I own this</a></br>

    {% else %}
        This is in your collection. <a href="/item/{{ pd.item.uid }}/donthave">Remove it</a>.<br />

        {% if pd.iteminfo is defined and pd.iteminfo.willtrade == 0 %}
        <a href="/item/{{ pd.item.uid }}/willtrade">I'll trade this</a><br />
        {% else %}
        This is up for trade. <a href="/item/{{ pd.item.uid }}/wonttrade">Nevermind</a>.<br />
        {% endif %}

    {% endif %}

    {% if pd.iteminfo is defined and pd.iteminfo.want == 0 %}
    <a href="/item/{{ pd.item.uid }}/want">I want this</a></br>
    {% else %}
    You want this. <a href="/item/{{ pd.item.uid }}/dontwant">Nevermind.</a><br />
    {% endif %}

{% else %}

<a href="/item/{{ pd.item.uid }}/have">I own this</a><br />
<a href="/item/{{ pd.item.uid }}/willtrade">I'll trade this</a><br />
<a href="/item/{{ pd.item.uid }}/want">I want this</a><br />

{% endif %}

<div class="page-header"><h3>Item stats</h3></div>

<div class="havecount">
{% if pd.item.haveusers()[0] == 1 %}
1 person has this<br />
{% else %}
{{ pd.item.haveusers()[0] }} people have this<br />
{% endif %}

{% for user in pd.item.haveusers()[1] %}
<a href="/user/{{ user.username }}">{{ user.username }}</a><br />
{% endfor %}
</div>

<div class="willtradecount">
{% if pd.item.willtradeusers()[0] == 1 %}
1 person is willing to trade this <br />
{% else %}
{{ pd.item.willtradeusers()[0] }} people are willing to trade this <br />
{% endif %}

{% for user in pd.item.willtradeusers()[1] %}
<a href="/user/{{ user.username }}/trade/{{ pd.item.uid }}">{{ user.username }}</a><br />
{% endfor %}

</div>

<div class="wantscount">
{% if pd.item.wantusers()[0] == 1 %}
1 person wants to trade for this <br />
{% else %}
{{ pd.item.wantusers()[0] }} people want to trade for this <br />
{% endif %}

{% for user in pd.item.wantusers()[1] %}
<a href="/user/{{ user.username }}/trade/{{ pd.item.uid }}">{{ user.username }}</a><br />
{% endfor %}
</div>

<div>
        <div class="page-header"><h4>Tags</h4></div>
        {%for tag in pd.item.tags()%}
        <a href="/tag/{{ pd.encode(tag.name) }}">{{ tag.name }}</a> <a href="/item/{{ pd.item.uid }}/untag/{{ pd.encode(tag.name) }}">X</a></br>
        {% endfor %}
        <form action="/item/tag" method="post" enctype="multipart/form-data">
            <input type=text name=tag placeholder="Add a tag"><br />
            <input type=hidden name=uid value={% if pd.item %}{{ pd.item.uid }}{%else%}0{%endif%}> <button class="btn btn-sm btn-default" type=submit>Save</button>
        </form>
</div>


</div>
</div>

</div>

{% endblock %}
