<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>{{ pd.title }}</title>
    {% endblock %}
</head>

{% if pd.debug %}

<div id="debug">
<pre>
{{pd.debug}}
</pre>
</div>

{% endif %}

<body>
    <div id="header">
        <h1>Scarfage</h1><br />
        <div class=nav>
        <a href="/">Home</a>
        </div>

        <div class=nav>
        <a href="/newitem">Contribute!</a>
        </div>

        <div class=nav>
        <a href="/newimg">Upload a pic</a>
        </div>

        <div class=nav>
        <a href="/stats">Site Stats</a>
        </div>

        {% if pd.authuser is defined %}
        <div class=nav>
        <a href="/user/{{ pd.authuser.username }}">User Profile</a>
        </div>
        {% endif %}

        {% if pd.authuser is defined and pd.authuser.accesslevel >= 10 %}
        <div class=nav>
        <a href="/mod">Moderate</a>
        </div>
        {% endif %}

        {% if pd.authuser is defined and pd.authuser.accesslevel == 255 %}
        <div class=nav>
        <a href="/admin">Admin</a>
        </div>
        {% endif %}
    </div>

    <div id="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>

    {% block body %}{% endblock %}

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
