<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <title>{{ pd.title }}</title>

    <link rel="stylesheet" href="/static/style.min.css" />

    {% endblock %}
</head>

{% if pd.debug %}

<div id="debug">
<pre>
{{pd.debug}}
</pre>
</div>

{% endif %}

<body>
<header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
      <div class="row">
        {% for message in messages %}
          <div class="alert alert-info page-header">{{ message }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}

    <nav id="nav" class="navbar nav-padding navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Scarfage</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/newitem">Add Item</a></li>
            <li><a href="/stats">Site Stats</a></li>
            {% if pd.authuser is defined and pd.authuser.accesslevel >= 10 %}
            <li><a href="/mod">Moderate</a></li>
            {% endif %}
            {% if pd.authuser is defined and pd.authuser.accesslevel == 255 %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if pd.authuser is defined %}
            <li><a href="/user/{{ pd.authuser.username }}">{{ pd.authuser.username }}</a></li>
            <li><a href="/logout"><small>Logout</small></a></li>
          {% else %}
            <li><form class="navbar-form navbar-right" role="form" action="/login" method="post">
            <div class="form-group">
                <input type="text" placeholder="Username" class="form-control" name="username">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            </form></li>
            <li><a href="/newuser"><small>Sign up</small></a></li>
            <li><a href="/forgotpw"><small>Forgot Password</small></a></li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>

<div id="wrapper">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <p>
          {% block body %}{% endblock %}
        </p>
      </div>
    </div>
</div>


    <footer class="footer">
        {% block footer %}
        {% endblock %}
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="/static/main.js"></script>
</body>
</html>
