<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/main.css" />
    <title>{{ pd.title }}</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        <h1>Something goes here</h1><br />
        <div class=nav>
        <a href="/">Home</a>
        </div>
        <div class=nav>
        <a href="/scarf/newscarf">Add a scarf!</a>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flashes">
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        </div>
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
