{% block login %}

<div id="login">
    {% if pd.authuser is undefined %}
    <center>
    <form class="login" role="form" action="/login" method="post">
      <div class="login-form-group">
        <label class="login-label" for="username">Username:</label>
        <input class="login-form-input" type=text name=username><br />
      </div>

      <div class="login-form-group">
        <label class="login-label" for="password">Password:</label>
        <input class="login-form-input" type=password name=password><br />
      </div>

      <div class="login-form-group">
        <input class=button type=submit value=Login>
      </div>
    </form>
    <a class=small href="/newuser">New user</a>
    </center>
    {% else %}
        Logged in as: {{ pd.authuser.username }}<br />
        <a href="/logout">Logout</a> 
    {% endif %}
</div>

{% endblock %}
