{% extends "layout.html" %}

{% block body %}



<div class="container">


<div class="col-md-8">

    <div class="page-header"><h3> {{ pd.image.tag }} </h3></div>

    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#ascii">Ascii</a></li>
      <li><a data-toggle="pill" href="#image">Image</a></li>
    </ul>

    <div class="tab-content">

    <div id="ascii" class="tab-pane fade in active">


    <pre style="font-size: xx-small;">


    {{ pd.ascii }}
    </pre>
    </div>

    <div id="image" class="tab-pane fade">
    <a href="/image/{{ pd.image.uid }}/full"><img style="max-width:100%;" src="/resize/800x800/{{ pd.image.uid }}" alt="{{ pd.image.tag }}"></a><br />
    </div>
    </div>
</div>


<div class="col-md-3">
    <div class="page-header"><h3>Uploaded by <a href="/users/{{ pd.moduser }}">{{ pd.moduser }}</a></h3></div>

    <h3> <a href="/item/{{ pd.parent }}">Parent item<a></h3><br />

    {% if pd.moduser != "anon" %}
    <p> <a class="btn btn-danger" href="/mod/ban/{{ pd.moduser }}"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Ban user</a></p>
    {% endif %}

    <p><a class="btn btn-danger" href="/image/{{ pd.image.uid }}/delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a></p>

    <p><a class="btn btn-success" href="/mod/image/{{ pd.image.uid }}/approve"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approve</a></p>
</div>
{% endblock %}
