{% extends "layout.html" %}

{% block body %}



<div id="content">

<div class="page-heading"><h3>Image Moderation</h3></div>

<table class="table">
<tr>
    <th>Uploaded by</th>
    <th>Title</th>
    <th>Flagged by user</th>
</tr>
{% for mod in pd.mods %}
<tr>
    <td><a href="/user/{{ mod.user }}">{{ mod.user }}</a></td>
    <td>{{ mod.tag }}</td>
    <td>{% if mod.flag == 1 %}<b>yes</b>{% else %}no{% endif %}</a></td>
    <td><a href="/mod/image/{{ mod.uid }}">View</a></td>
</tr>
{% endfor %}
</table>

</div>

{% endblock %}
