{% extends "layout.html" %}

{% block body %}



<div id="content">

<div class="page-heading"><h3>Tags</h3></div>
<table class="table">
{% for tag in pd.tags.exact_children_of('tags') %}
<tr><td><a href="/tag/{{ pd.encode(tag) }}">{{ tag }}</a> </tr>
{% endfor %}
</table>

<div class="page-heading"><h3>Image Moderation</h3></div>

<table class="table">
<tr>
    <th>Title</th>
    <th>Flagged</th>
    <th>Uploaded By</th>
</tr>
{% for mod in pd.mods %}
<tr>
    <td><a href="/mod/image/{{ mod.uid }}">{{ mod.tag }}</a></td>
    <td>{% if mod.flag == 1 %}<b>yes</b>{% else %}no{% endif %}</a></td>
    <td><a href="/user/{{ mod.user }}">{{ mod.user }}</a></td>
</tr>
{% endfor %}
</table>

</div>

{% endblock %}
