{% extends "layout.html" %}

{% block body %}



<div id="content">
    <form action="/newimg" method="post" enctype="multipart/form-data">
        Parent object:<br />
        {% for item in pd.items %}
        {{ item.name }} </br>
        {% endfor %}
        Image title:<br />
        <input type=text name=title><br />
        Image description:<br />
        <textarea name=desc rows="4" cols="50"></textarea><br />
        <input type="file" name="img" accept="image/*"><br />
        <input type=submit value=Submit>
    </form>
</div>

{% endblock %}
