{% extends "layout.html" %}

{% block body %}

{% include "login.html" %}

<div id="content">
    <form action="/scarf/newscarf" method="post" enctype="multipart/form-data">
        Name: <input type=text name=name><br />
        Front: <input type="file" name="front" accept="image/*"><br />
        Back: <input type="file" name="back" accept="image/*"><br />
        <textarea name=desc rows="4" cols="50">Description</textarea><br />
        <input type=submit value=Submit>
    </form>
</div>

{% endblock %}
{% block login %}

<div id="login">
</div>

{% endblock %}
