{% extends "layout.html" %}

{% block body %}

<div id="content" class="col-md-6">
  <div id="signupform">

      <div class="page-header"><h4>Sign Up</h4></div>

      <form role="form" action="/newuser" method="post">
        <div class="form-group">
          <label class="newuser-label" for="username">Username:</label>
          <input type=text name=username value="{{ pd.username }}" required><br />
        <div>

        <div class="form-group">
          <label class="newuser-label" for="password">Password:</label>
          <input type=password name=password required><br />
        <div>

        <div class="form-group">
          <label class="newuser-label" for="password2">Confirm password:</label>
          <input type=password name=password2 required><br />
        <div>

        <div class="form-group">
          <label class="newuser-label" for="email">Email address:</label>
          <input type=text name=email value="{{ pd.email }}" required><br />
        <div>

        <div class="form-group">
          <input class="button btn" type=submit value=Submit>
        <div>
      </form>

  </div>
</div>

{% endblock %}
