{% extends "layout.html" %}

{% block body %}



<div id="content">

{% if pd.pm.items %}

<div class="page-header"><h3>Trade Request</h3></div>

<div class="col-md-8">
<p>
<b>Trade status</b>: 
{% if pd.pm.status == pd.pm.messagestatus['settled_trade'] %}
Closed<br />
{% elif pd.pm.status == pd.pm.messagestatus['rejected_trade'] %}
Rejected<br />
{% elif pd.pm.status == pd.pm.messagestatus['cancelled_trade'] %}
Cancelled<br />
{% else %}
Open<br />
{% endif %}
<b>From:</b> <a href="/user/{{ pd.pm.from_user }}">{{ pd.pm.from_user }}</a><br />
<b>To:</b> <a href="/user/{{ pd.pm.to_user}}">{{ pd.pm.to_user }}</a><br />
</div>
<div class="col-md-4">

{% if pd.pm.status == pd.pm.messagestatus['settled_trade'] %}
    <a class="btn btn-primary" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/reopen">Reopen this trade</a>
{% elif pd.pm.status == pd.pm.messagestatus['rejected_trade'] %}
    {% if pd.pm.to_user == pd.authuser.username %}
        <a class="btn btn-primary" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/reopen">Reopen this trade</a>
    {% endif %}
{% elif pd.pm.status == pd.pm.messagestatus['cancelled_trade'] %}
    {% if pd.pm.from_user == pd.authuser.username %}
        <a class="btn btn-primary" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/reopen">Reopen this trade</a>
    {% endif %}
{% else %}
    <a class="btn btn-default" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/settle">Close this trade</a>
    {% if pd.pm.to_user == pd.authuser.username %}
        <a class="btn btn-danger" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/reject">Reject this trade</a><br />
    {% else %}
        <a class="btn btn-danger" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/cancel">Cancel this trade</a><br />
    {% endif %}
{% endif %}

</div>
<table class="table">
<tr>
<th></th>
<th>Owner</th>
<th>Item</th>
<th>Status</th>
<th>Actions</th>
</tr>
{% for ti in pd.pm.items %}
<tr>

    <td>
    {% for image in ti.item.images()[:1] %}
        <a href="/image/{{ image.uid }}"><img style="max-width:500px;" class="img-rounded" src="{{pd.prefix}}/image/{{ image.uid }}/thumbnail" alt="{{ image.tag }}"><br /></a>
    {% endfor %}
    </td>
    <td>{{ti.user.username }}</td>

    <td>{{ ti.item.name }}</td>

    {% if ti.acceptstatus < pd.pm.tradeitemstatus['accepted'] %}
        {% if ti.user.uid == pd.authuser.uid %}

            {% if ti.acceptstatus == pd.pm.tradeitemstatus['rejected'] %}
            <td><b><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;"></span><b></td>
            {% else %}
            <td><a class="btn btn-default" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/reject/{{ ti.uid }}">Reject</a> </td>
            {% endif %}
            <td><a class="btn btn-default" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/accept/{{ ti.uid }}">Accept</a></td>
        {% else %}
            {% if ti.acceptstatus == pd.pm.tradeitemstatus['rejected'] %}
                <td><b><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;"></span><b></td><td></td>
            {% else %}
                <td><b><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="color: red;"></span><b></td><td></td>
            {%endif%}
        {%endif%}
    {% else %}
        <td><b><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;"></span><b></td>
        {% if ti.user.uid == pd.authuser.uid %}
        <td> <a class="btn btn-danger" href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid_obfuscated }}/reject/{{ ti.uid }}">Cancel</a> </td>
        {% endif %}
    {%endif%}
    </td>
</tr>
{% endfor %}
</table>


{% else %}
    <div class="page-header"><h3>Private Message</h3></div>
{% endif %}


<p>
{% if pd.pm.parentid > 0 %}
<a href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.parentid_obfuscated }}">Previous message</a></br>
{% endif %}
</p>

<div class="well well-sm">
    <p>
    <b>{{ pd.pm.subject }}</b></br>
    <b>From:</b> {{ pd.pm.from_user }}</br>
    <div class="well well-ff">{{ pd.pm.message }}<br/></div>
    <small>{{ pd.pm.sent }}</small></br>
    </p>

    <p>
    <h4> Reply: </h4>
        {% if pd.pm.from_user == pd.authuser.username %}
        <form action="/user/{{ pd.pm.to_user }}/pm" method="post" enctype="multipart/form-data">
        {% else %}
        <form action="/user/{{ pd.pm.from_user }}/pm" method="post" enctype="multipart/form-data">
        {% endif %}
            Subject: <input type=text name=subject value="re: {{ pd.pm.subject }}" required></br>
            <textarea name=body rows="4" cols="50"></textarea><br />
            <input type="hidden" name="parent" value="{{ pd.pm.uid_obfuscated }}">
            <input type=submit value=Submit>
        </form>
    </p>

{% for reply in pd.pm.replies() %}
    <div class="well well-sm">
    <p>
    <b><a href="/user/{{ pd.authuser.username }}/pm/{{ reply.uid_obfuscated }}">{{ reply.subject }}</a></b></br>
    <b>From:</b> {{ reply.from_user }}</b></br>
    <div class="well well-ff">{{ reply.message }}<br/></div>
    <small>{{ reply.sent }}</small></br>
    </p>

    {% for reply2 in reply.replies() %}
     <div class="well well-sm">
        <p>
        <b><a href="/user/{{ pd.authuser.username }}/pm/{{ reply2.uid_obfuscated }}">{{ reply2.subject }}</a></b></br>
        <b>From:</b> {{ reply2.from_user }}</b></br>
        <div class="well well-ff">{{ reply2.message }}<br/></div>
        <small>{{ reply2.sent }}</small>
        </p>

            {% for reply3 in reply2.replies()[:1] %}
             <div class="well">
               <b><a href="/user/{{ pd.authuser.username }}/pm/{{ reply3.uid_obfuscated }}">{{ reply2.subject }}</a></b></br>
             </div>
            {% endfor %}
     </div>
    {% endfor %}
    </div>
{% endfor %}

</div>

</div>

{% endblock %}
