{% extends "layout.html" %}

{% block body %}

{% include "login.html" %}

<div id="content">

<div id="message">
Message:
{{ pd.pm.message }}<br/>
</div>

{% for ti in pd.pm.items %}
<div id=tradeitem>
    {% if ti.user.uid == pd.authuser.uid %}
    ----]] your trade: {{ ti.item.name }}<br/>
    {% else %}
    [[---- {{ti.user.username }}'s trade: {{ ti.item.name }} - <br />
    {% if ti.acceptstatus < pd.pm.tradestatus['accepted'] %}
        <a href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid }}/accept/{{ ti.uid }}">Accept item</a><br />

        {% if ti.acceptstatus == pd.pm.tradestatus['rejected'] %}
        Rejected<br />
        {% else %}
        <a href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid }}/reject/{{ ti.uid }}">Reject item</a> 
        {% endif %}
    {% else %}
        Accepted<br />
    {%endif%}
    {%endif%}
    {% if ti.item.images[0] is defined %}
        <img src="/image/{{ ti.item.images[0].filename }}/thumbnail" alt="{{ ti.item.images[0].tag }}"><br />
    {% endif %}
{% endfor %}

{% if pd.pm.status == pd.pm.messagestatus['closed_trade'] %}
All parties have accepted, please coordinate with {{ pd.pm.from_user }} to complete your trade!<br />
<a href="/user/{{ pd.authuser.username }}/pm/{{ pd.pm.uid }}/settle">Mark as settled!</a><br />
{% endif %}

</div>
</div>

</div>
</div>

{% endblock %}
