{% extends "layout.html" %}

{% block body %}

{% include "login.html" %}

<div id="content">
    <h1>{{ pd.userinfo[1] }}'s profile</h1>
    {% if pd.user != pd.userinfo[1] %}
        <ul>
            <li>Member since: {{ pd.userinfo[5] }}</li>
            <li>Last seen: {{ pd.userinfo[6] }}</li>
            <li>Items added: {{ pd.userinfo[7] }}</li>
        </ul>
 
    {% else %}
        <ul>
            <li>Email: {{ pd.userinfo[4] }}</li>
            <li>Member since: {{ pd.userinfo[5] }}</li>
            <li>Items added: {{ pd.userinfo[7] }}</li>
            <li>Access level: {{ pd.accesslevels[pd.userinfo[8]] }}</li>
        </ul>

        <a href="/userupdate">Reset Password or Update Email Address</a>
    {% endif %}

    <h1>{{ pd.userinfo[1] }}'s collection</h1>
    <ul>
    {% for item in pd.scarves %}
      {% if pd.user == pd.userinfo[1] %}
        {% if item['own'] == 1 %}
        <li><a href="/scarf/{{ item['name'] }}">{{ item['name'] }}</a> 
        {% if item['hidden'] == 0 %}
            - <a href="/scarf/{{ item['name'] }}/hide">Hide</a>
        {% else %}
            - <a href="/scarf/{{ item['name'] }}/show">Show</a>
        {% endif %}

        {% if item['willtrade'] == 1 %}
           - <a href="/scarf/{{ item['name'] }}/wonttrade">Don't trade</a>
        {% else %}
           - <a href="/scarf/{{ item['name'] }}/willtrade">Trade</a>
        {% endif %}

        - <a href="/scarf/{{ item['name'] }}/donthave">Don't have</a>
        </li>
        {% endif %}

      {% else %}

        {% if item['hidden'] == 0 and item['own'] == 1 %}
            <li>
            {% if item['willtrade'] == 1 %}
               up for trade - 
            {% endif %}
            
            <a href="/scarf/{{ item['name'] }}">{{ item['name'] }}</a></li>
        {% endif %}

      {% endif %}

    {% endfor %}
    </ul>

    <h1>{{ pd.userinfo[1] }}'s wanted list</h1>
    <ul>
    {% for item in pd.scarves %}
      {% if pd.user == pd.userinfo[1] %}
        {% if item['want'] == 1 %}
        <li>
            <a href="/scarf/{{ item['name'] }}">{{ item['name'] }}</a> <a href="/scarf/{{ item['name'] }}/dontwant">Nevermind.</a>
        </li>
        {% endif %}

      {% else %}

        {% if item ['want'] == 1 %}
            <li> <a href="/scarf/{{ item['name'] }}">{{ item['name'] }}</a></li>
        {% endif %}

      {% endif %}


    {% endfor %}
    </ul>


</div>

{% endblock %}
