{% extends "layout.html" %}

{% block body %}

{% include "login.html" %}

<div id="content">

<p>
<div id="scarfname">
<h1>{{ pd.scarfname }}</h1><br />
</div>

{% if pd.user is not undefined %}
<div id="scarfactions">
{% if pd.myscarfinfo is defined %}

{% if pd.myscarfinfo[3] == 0 %}
<a href="/scarf/{{ pd.scarfname }}/have">I own this</a></br>

{% if pd.myscarfinfo[5] == 0 %}
<a href="/scarf/{{ pd.scarfname }}/want">I want this</a></br>
{% else %}
You want this scarf. <a href="/scarf/{{ pd.scarfname }}/dontwant">Nevermind.</a><br />
{% endif %}

{% else %}
This scarf is in your collection. <a href="/scarf/{{ pd.scarfname }}/remove">Remove it</a>.<br />
{% if pd.myscarfinfo[4] == 0 %}
<a href="/scarf/{{ pd.scarfname }}/willtrade">I'll trade this</a>
{% else %}
This scarf is up for trade. <a href="/scarf/{{ pd.scarfname }}/wonttrade">Nevermind</a>.<br />
{% endif %}
{% endif %}


{% else %}

<a href="/scarf/{{ pd.scarfname }}/have">I own this</a>
<a href="/scarf/{{ pd.scarfname }}/willtrade">I'll trade this</a>
<a href="/scarf/{{ pd.scarfname }}/want">I want this</a>

{% endif %}

{% if pd.accesslevel == 255 %}
<a href="/scarf/{{ pd.scarfname }}/delete">Delete scarf</a>
{% endif %}

</div>
{% endif %}

<div id="description">
{{ pd.scarf[3] }}<br />
</div>



<br>
<div id="scarfimg">
{% for item in pd.scarfimg %}
    <a href="/static/uploads/{{ item[0][2] }}"><img src="/image/{{ item[0][2] }}/thumbnail" alt="{{ item[0][3] }}"></a><br />

{% if pd.accesslevel >= 10 %}
<a href="/image/{{ item[0][2] }}/delete">Delete image</a>
{% endif %}

{% endfor %}

{% if pd.user is not undefined %}
    <form action="/image/upload" method="post" enctype="multipart/form-data">
        Tag: <input type=text name=tag><br />
        <input type="file" name="image" accept="image/*"><br />
        <input type="hidden" name="scarfname" value="{{ pd.scarfname }}">
        <input type=submit value=Submit>
    </form>
{% endif %}
</p>
</div>

<div class="havecount">
{% if pd.have == 1 %}
1 person has this scarf<br />
{% else %}
{{ pd.shave }} people have this scarf<br />
{% endif %}

{% for user in pd.haveusers %}
<a href="/user/{{ user}}">{{ user }}</a><br />
{% endfor %}
</div>

<div class="willtradecount">
{% if pd.willtrade == 1 %}
1 person is willing to trade this scarf<br />
{% else %}
{{ pd.willtrade }} people are willing to trade this scarf<br />
{% endif %}

{% for user in pd.willtradeusers %}
<a href="/user/{{ user}}">{{ user }}</a><br />
{% endfor %}

</div>

<div class="wantscount">
{% if pd.want == 1 %}
1 person wants to trade for this scarf<br />
{% else %}
{{ pd.want }} people want to trade for this scarf<br />
{% endif %}

{% for user in pd.wantusers %}
<a href="/user/{{ user}}">{{ user }}</a><br />
{% endfor %}



</div>
</div>

{% endblock %}
