{% extends "layout.html" %}

{% block body %}

<div id="content">

{% if pd.results %}
<div id="search" class="col-md-12">
<div class="page-heading"><h3>Search Results for "{{pd.query}}"</h3></div>

{{ pd.num_results }} items found, {{ pd.limit }} results per page.<br>

{% if pd.page > 1 %}
<a href="/item/search?page={{pd.page - 1}}&limit={{pd.limit}}&query={{pd.query}}">Previous</a>
{% endif %}

{% for page in range(1, pd.num_pages + 1) %}
    {% if page == pd.page %}
        {{ page }}
    {% else %}
        <a href="/item/search?page={{page}}&limit={{pd.limit}}&query={{pd.query}}">{{ page }}</a>
    {% endif %}
{% endfor %}

{% if pd.page < pd.num_pages %}
<a href="/item/search?page={{pd.page + 1}}&limit={{pd.limit}}&query={{pd.query}}">Next</a>
{% endif %}

{% for item in pd.results %}
{% if item == None %}
No results.
{%else%}
<div class="row bottom-buffer scarf-entry no-gutter">

  <h2><a href="/item/{{ item.uid }}">{{ item.name }}</a></h2>
   <div class="col-6">
   {% for image in item.images()[:1] %}
       <a href="/item/{{ item.uid }}" class="scarf"><img class="img-rounded col-md-12 no-gutter" src="{{pd.prefix}}/resize/500x200/{{ image.uid }}" alt="{{ image.tag }}"></a>
   {% endfor %}

   {% if pd.authuser is defined %}
   <div class="itemiconsactionbox" data-itemid="{{ item.uid }}">
       <h4>
       <span title="Show item actions" style="color: blue;" class="glyphicon glyphicon-chevron-down item-icons-actionbox-show" data-itemid="{{ item.uid }}" id="item-icons-actionbox-show{{ item.uid }}" aria-hidden="true"></span>
       <span title="Hide item actions" style="color: blue;" class="glyphicon glyphicon-chevron-up item-icons-actionbox-hide" data-itemid="{{ item.uid }}" id="item-icons-actionbox-hide{{ item.uid }}" aria-hidden="true"></span>

       <span title="Add to collection" style="color: green;" class="glyphicon glyphicon-plus item-icons-have" data-itemid="{{ item.uid }}" id="item-icons-have{{ item.uid }}" aria-hidden="true"></span>
       <span title="Remove from collection" style="color: red;" class="glyphicon glyphicon-remove item-icons-donthave" data-itemid="{{ item.uid }}" id="item-icons-donthave{{ item.uid }}" aria-hidden="true"></span>

       <span title="Show this item to others" style="color: green;" class="glyphicon glyphicon-eye-open item-icons-show" data-itemid="{{ item.uid }}" id="item-icons-show{{ item.uid }}" aria-hidden="true"></span>
       <span title="Hide this item from others" style="color: red;" class="glyphicon glyphicon-eye-close item-icons-hide" data-itemid="{{ item.uid }}" id="item-icons-hide{{ item.uid }}" aria-hidden="true"></span>

       <span title="Make this item available for trade" style="color: green;" class="glyphicon glyphicon-transfer item-icons-willtrade" data-itemid="{{ item.uid }}" id="item-icons-willtrade{{ item.uid }}" aria-hidden="true"></span>
       <span title="Make this item unavailable for trade" style="color: red;" class="glyphicon glyphicon-heart item-icons-wonttrade" data-itemid="{{ item.uid }}" id="item-icons-wonttrade{{ item.uid }}" aria-hidden="true"></span>

       <span title="Add this to my wanted items list" style="color: green;" class="glyphicon glyphicon-bullhorn item-icons-want" data-itemid="{{ item.uid }}" id="item-icons-want{{ item.uid }}" aria-hidden="true"></span>
       <span title="Remove from my wanted items list" style="color: red;" class="glyphicon glyphicon-unchecked item-icons-dontwant" data-itemid="{{ item.uid }}" id="item-icons-dontwant{{ item.uid }}" aria-hidden="true"></span>
       </h4>
   </div>

    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}


</div>
{% endif %}
</div>

{% endblock %}
