{% extends "layout.html" %}

{% block body %}

<div id="content">

{% if pd.results %}
<div id="search" class="col-md-12">
<div class="page-heading"><h3>Search Results for "{{pd.query}}"</h3></div>

{{ pd.num_results }} items found, {{ pd.limit }} results per page.<br>

{% if pd.page > 1 %}
<a href="/item/search?page={{pd.page - 1}}&limit={{pd.limit}}&query={{pd.query}}&sort={{pd.sort}}">Previous</a>
{% endif %}

{% for page in range(1, pd.num_pages + 1) %}
    {% if page == pd.page %}
        {{ page }}
    {% else %}
        <a href="/item/search?page={{page}}&limit={{pd.limit}}&query={{pd.query}}&sort={{pd.sort}}">{{ page }}</a>
    {% endif %}
{% endfor %}

{% if pd.page < pd.num_pages %}
<a href="/item/search?page={{pd.page + 1}}&limit={{pd.limit}}&query={{pd.query}}&sort={{pd.sort}}">Next</a>
{% endif %}

{% for item in pd.results %}
{% if item == None %}
No results.
{%else%}
<div class="row bottom-buffer scarf-entry no-gutter">
   <h4><a href="/item/{{ item.uid }}">{{ item.name }}</a> 
   {% if pd.authuser is defined %}
    {% include 'itemstatusbox.html' %} 
   {% endif %}
   </h4>

   <div class="col-6">
   {% for image in item.images()[:1] %}
       <a href="/item/{{ item.uid }}" class="scarf"><img class="img-rounded col-md-12 no-gutter" src="{{pd.prefix}}/resize/500x200/{{ image.uid }}" alt="{{ image.tag }}"></a>
   {% endfor %}

  </div>
</div>
{% endif %}
{% endfor %}

{% if pd.page > 1 %}
<a href="/item/search?page={{pd.page - 1}}&limit={{pd.limit}}&query={{pd.query}}&sort={{pd.sort}}">Previous</a>
{% endif %}

{% for page in range(1, pd.num_pages + 1) %}
    {% if page == pd.page %}
        {{ page }}
    {% else %}
        <a href="/item/search?page={{page}}&limit={{pd.limit}}&query={{pd.query}}&sort={{pd.sort}}">{{ page }}</a>
    {% endif %}
{% endfor %}

{% if pd.page < pd.num_pages %}
<a href="/item/search?page={{pd.page + 1}}&limit={{pd.limit}}&query={{pd.query}}&sort={{pd.sort}}">Next</a>
{% endif %}
</div>
{% endif %}
</div>

{% endblock %}
