{% extends "layout.html" %}

{% block body %}

{% include "login.html" %}

<div id="content">

<h2> Top Collectors </h2><br/>
 
<table>
  <tr>
  <th># items</th>
  <th>user</th>
  </tr>
{% for user in pd.topcollectors %}
  <tr>
  <td>{{ user[0] }}</td>
  <td><a href="/user/{{ user[1] }}">{{ user[1] }}</a></td>
  </tr>
{% endfor %}
</table><br/>

<h2> Top Contributors </h2><br/>
 
<table>
  <tr>
  <th># of edits</th>
  <th>user</th>
  </tr>
{% for user in pd.topcontributors %}
  <tr>
  <td>{{ user[0] }}</td>
  <td><a href="/user/{{ user[1] }}">{{ user[1] }}</a></td>
  </tr>
{% endfor %}
</table><br/>

<h2> Most Needy </h2><br/>
 
<table>
  <tr>
  <th># items</th>
  <th>user</th>
  </tr>
{% for user in pd.topneedy %}
  <tr>
  <td>{{ user[0] }}</td>
  <td><a href="/user/{{ user[1] }}">{{ user[1] }}</a></td>
  </tr>
{% endfor %}
</table><br/>


<h2> Most items available for trade </h2><br/>
 
<table>
  <tr>
  <th># items</th>
  <th>user</th>
  </tr>
{% for user in pd.topwilltrade %}
  <tr>
  <td>{{ user[0] }}</td>
  <td><a href="/user/{{ user[1] }}">{{ user[1] }}</a></td>
  </tr>
{% endfor %}
</table><br/>

</div>

{% endblock %}
