{% extends "layout.html" %}

{% block body %}

<div id="content">


{% if pd.authuser is defined and pd.authuser.accesslevel >= 10 %}
<div class="page-heading"><h3>Tag Moderation</h3></div>
<table class="table">
<tr><td><b>Name</b></td><td>{{ pd.tag }}</tr>

<tr><td><b>Path</b></td><td>/
{% for tag in pd.tree.path_to(pd.tag) %}
 {% if tag != pd.tree.root %}
  {% if tag != pd.tag %}<a href="/tag/{{ pd.encode(tag) }}">{{ tag }}</a>{%endif%} {% if not loop.last %} / {% endif %}
 {% endif %}
{% endfor %}
</tr>

<tr><td><b>Reparent</b></td><td>
<form action="/tag/reparent" method="post" enctype="multipart/form-data">
<table><tr><td>
<select class="form-control" name="reparent" style="max-width:95%;">
    <option value="{{ pd.encode(pd.tree.root) }}">&lt;root&gt;</option>

    {% for tag in pd.root_tree %}
        {% if tag[0] in pd.reparent_list %}
        <option value="{{ pd.encode(tag[0]) }}">
        {% for n in range(tag[1]) %} 
            &nbsp;&nbsp;&nbsp;
        {% endfor %}
        &nbsp;{{ tag[0] }}</option>
        {% endif %}
    {% endfor %}
</select></td><td>
<input type=hidden name=name value="{{ pd.encode(pd.tag) }}"> 
<button class="btn btn-sm btn-default" type=submit>Save</button>
</td></tr>

</table>
</form>
</tr>

</table>

<p>
<a onclick="return confirm('You are permanently deleting this tag and all child tags, are you sure you want to do this?')" class="btn btn-danger" href="/tag/{{ pd.encode(pd.tag) }}/delete">Delete this tag and all child tags</a>
</p>

<div class="page-heading"><h3>Children</h3></div>

<form action="/tag/new" method="post" enctype="multipart/form-data">
    <input type=text name=tag placeholder="Add a child tag">
    <input type=hidden name=uid value=0> 
    <input type=hidden name=parent value="{{ pd.encode(pd.tag) }}"> 
    <button class="btn btn-sm btn-default" type=submit>Save</button>
</form>

<table class="table">
{% for tag in pd.tree.exact_children_of(pd.tag) %}
<tr><td>{{ tag }}</td><td><a href="/tag/{{ pd.encode(tag) }}">View / Edit</a></td><td></td></tr>
{% endfor %}
</table>

<div class="page-heading"><h3>Directly Tagged Items</h3></div>

<table class="table">
{% for item in pd.tree.items(pd.tag) %}
<tr><td><a href="/item/{{ item.uid }}">{{ item.name }}</a></td></tr>
{% endfor %}
</table>

<div class="page-heading"><h3>Inherited Items</h3></div>

<table class="table">
{% for item in pd.tree.items_from_children(pd.tag) %}
<tr><td><a href="/item/{{ item.uid }}">{{ item.name }}</a></td></tr>
{% endfor %}
</table>

<hr>
{% endif %}

<div class="page-heading"><h3>Items tagged with "{{pd.tag}}"</h3></div>

{% for item in pd.tree.items(pd.tag)|list + pd.tree.items_from_children(pd.tag)|list %}
{% if item == None %}
No items have been tagged.
{%else%}
<div class="row bottom-buffer scarf-entry no-gutter">
   <h4><a href="/item/{{ item.uid }}">{{ item.name }}</a> 
   {% if pd.authuser is defined %}
    {% include 'itemstatusbox.html' %} 
   {% endif %}
   </h4>

   <div class="col-6">
   {% for image in item.images()[:1] %}
       <a href="/item/{{ item.uid }}" class="scarf"><img class="img-rounded col-md-12 no-gutter" src="{{pd.prefix}}/resize/500x200/{{ image.uid }}" alt="{{ image.tag }}"></a>
   {% endfor %}

  </div>
</div>
{% endif %}
{% endfor %}



</div>

{% endblock %}
