#nav {
  background-color: #004411;
  height: 100px;
  padding: 10px;
  color: red;
  width:100%;
  display: block;
}

.nav-padding {
    padding-top:100px;
}

#wrapper {
  margin-top:10px;
}

.stat {
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 10px;
}
