
/* This is somewhat thrown together - feel free to refactor

  main.scss contains all global styling
  #bsor - BootStrap OverRide
*/

body {
  padding-top: 100px;

  /* #bsor = BootStrap OverRide */
  &#bsor {
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .well-ff {
        background: rgb(255, 255, 255);
    }


    /* GLOBAL BOOTSTRAP OVERRIDES - STAYS DOWN HERE... */
    .wrapper {
      width: 100%;
      padding: 0 20px;
    }

    .container {
      width: auto;
      margin: 0;
      padding: 0;
    }

    .row {
      margin: 0;
    }

    .no-gutter {
      padding-right:0;
      padding-left:0;
      margin-right:0;
      margin-left:0;
    }

    .no-gutter > [class*='col-'] {
      padding-right:0;
      padding-left:0;
      margin-right:0;
      margin-left:0;
    }

    form {
      label {
        font-weight: bold;
        font-size: .8em;
        display: block;
        padding-top: 10px;
        margin: 0;
      }
      input {
        margin-bottom: 5px;
      }

      .button, button, input[type=submit] {
        background-repeat: repeat-x;
        background-color: #5cb85c;
        background-image: none;
        border-color: #3e8f3e;
        color: #fff;
        border-radius: 4px;

      }

    }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
    }

    /* END GLOBAL OVERRIDES */

    .scarf-entry {
      border-bottom: 1px solid #999;
      padding-bottom: 20px;
    }

    .top-buffer {
      margin-top: 20px;
    }

    .bottom-buffer {
      margin-bottom: 20px;
    }

  }

}

/* DESKTOP */
@media (min-width: 768px) {
  body {
    &#bsor {
      padding-top: 100px;

      #navbar {
        position: relative;
        z-index: 1000;
      }

      .secondary-nav {
        vertical-align: middle;

        a, .login {
          cursor: pointer;
          color: #00802b;
        }

        .login-signup {
          display: block;
          color: #993;
          width: 240px;
          padding: 15px 0;
        }

      }

      .login-container {
        display: none;
        position: absolute;
        top: 55px;
        width: 240px;
        background-color: rgba(255,255,255,.9);
        border: 1px solid #000;

        .forgotpw {
          font-size: 12px;
          padding: 8px;
        }

        .close {
          margin-top: 5px;
        }

        .form-group {
          width: 100%;
          input {
            width: 100%;
          }
        }

      }
    }
  }
}

/* MOBILE */
@media (max-width: 767px) {
  body {
    &#bsor {
      padding-top: 50px;

      /* NAV */
      .navbar-collapse {
        padding: 20px;

        li {
          &.button { background-color: rgba(60, 80, 60, 1); }
        }
      }

      .main-nav {
        li {
          display: inline-block;
          margin-left: 15px;
        }
      }

      .secondary-nav {
        li {
          display: inline-block;

          &.item-search {
            margin: 0;
            padding: 20px 0;
            display: block;
            border-top: 1px solid #616161;
          }

          .login-container {
            display: block;
          }

          .forgotpw {
            color: #9d9d9d;
            padding-left: 10px
          }

        }
      }

      .navbar-form {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        margin: 0;
        padding: 0;

      }
      /* END NAV */


      img {
        &.scarf {
          max-width: 500px;
          max-height: 200px;
          width: 100%;
        }
      }

    }
  }


}
/* END MOBILE */
