.scarf-entry {

  .scarf {
   display: block;
   max-width: 640px;
   overflow: hidden;

   img {
     width: 100%;
     height: auto;
   }

  }

  .trade-status {
    width: 20px;
    height: 20px;
    background-image: url('images/tradeicons.png');

    &.notinlist {
      background-position: 0 0;
    }
    &.notinlist:hover:after {
      content: "Not In List";
      width: 100px;
      display: block;
      position: relative;
      bottom: 30px;
      border: 1px solid #333;
      padding: 5px;
      background-color: #fff;
      opacity: .7;
    }

    &.have {
      background-position: 0 -20px;
    }
    &.have:hover:after {
      content: "Owned";
      width: 100px;
      display: block;
      position: relative;
      bottom: 30px;
      border: 1px solid #333;
      padding: 5px;
      background-color: #fff;
      opacity: .7;
    }

    &.trade {
      background-position: 0 -40px;
    }
    &.trade:hover:after {
      content: "Will Trade";
      width: 100px;
      display: block;
      position: relative;
      bottom: 30px;
      border: 1px solid #333;
      padding: 5px;
      background-color: #fff;
      opacity: .7;
    }

    &.want {
      background-position: 0 -60px;
    }
    &.want:hover:after {
      content: "Want";
      width: 100px;
      display: block;
      position: relative;
      bottom: 30px;
      border: 1px solid #333;
      padding: 5px;
      background-color: #fff;
      opacity: .7;
    }
  }

}
