{% extends "search/results.html" %}

{% block results %}


{% for user in pd.results %}
{% if user == None %}
No results.
{%else%}
<div class="row bottom-buffer scarf-entry no-gutter">
   <div class="col-6">
    {% set avatar = user.profile().avatar() %}
    {% if avatar %}
        {% set avatarurl = "/user/" + user.username + "/avatar" %}
    {% else %}
        {% set avatarurl = pd.prefix + "/static/defaultavatar.png" %}
    {% endif %}
    <img style="max-height:150px; max-width:150px;" class="img-thumbnail" src="{{avatarurl}}" alt="[ avatar ]"><br />
    <h4><a href="/user/{{ user.username }}">{{ user.username }}</a></h4>
   </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}
